{% extends "main/header.html" %}

{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <center><h1 class="page-header">Splix.io</h1></center>
      </div>

      <center>
        <iframe src="http://www.gameflare.com/embed/splixio/" frameborder="0" scrolling="no" width="950" height="730"></iframe>
      </center>

      <div class="col-lg-12">
        <center><h1 class="page-footer">Instructions</h1></center>
      </div>

      <div class="col-lg-12">
        <center><font size="4">Use the arrow keys to move. Compete with other players to see who can claim as
			       much area for themselves as possible.
        </font></center>
      </div>

    </div>

    <hr>
  </div>
{% endblock %} 
