{% extends "main/header.html" %}

{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <center><h1 class="page-header">Tetris</h1></center>
      </div>

      <center>
        <embed src="http://www.classicgamesarcade.com/games/flash-tetris.swf" width="529px" height="522px" autostart="true" loop="false" 	 controller="true">
        </embed>
      </center>

      <div class="col-lg-12">
        <center><h1 class="page-footer">Instructions</h1></center>
      </div>

      <div class="col-lg-12">
        <center><font size="4">Use the arrow keys to move and rotate pieces. Complete rows of blocks to gain points while making sure blocks 				       don't pile up to the top.
        </font></center>
      </div>

    </div>

    <hr>
  </div>
{% endblock %} 
